<html>
<head>
    <!-- Navbar css styling adapted from https://www.w3schools.com/css/css_navbar_horizontal.asp -->
<style>
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
</style>
</head>
<body>
    <ul>
        <!-- TODO LINK TO ACTUAL PAGES -->
        <li><a href="profile">Home</a></li>
        <li><a href="http://127.0.0.1:8000/add_workout">Add Workout</a></li>
        <li><a href="profile">Profile</a></li>
        <li style="float:right"><a class="active" href="http://127.0.0.1:8000">Logout</a></li>
    </ul>
    
</body>

</html>