<html>
<head>
<style>
body {
    text-align: center;
    height: 100%;
  }
  
h1 {
    color: darkgreen;
}
h2 {
    font-size: smaller;
}

.container {
    background-color: lightgrey;

} 
</style>

</head>

<body>
    <a href="{% url 'edit_profile' %}">edit</a>
    <div class="container">
        <h1>Profile </h1>
        {% if display_message %}
            <h2>Update your profile with your weight, age and height to get the most out of this app</h2>
        {% endif %}
        <p>Username: {{username}}</p>
        <p>First name: {{first_name}}</p>
        <p>Last name: {{last_name}}</p>
        <p>Weight: {{weight}}</p>
        <p>Age: {{age}}</p>
        <p>Height: {{height}}</p>
        
    

    </div>
</body>

</html>