<html>
<head>
<style>
  
h1 {
    color: darkgreen;
    text-align: center;

}
h2 {
    font-size: smaller;
    text-align: center;

}

.container {
    background-color: lightgrey;
    margin: 20px;
    height: 100%;
    text-align: center;
} 
</style>

</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Profile </h1>
        {% if display_message %}
            <h2>Update your profile with your weight, age and height to get the most out of this app</h2>
        {% endif %}
        <p>Username: {{username}}</p>
        <p>First name: {{first_name}}</p>
        <p>Last name: {{last_name}}</p>
        <p>Weight: {{weight}}</p>
        <p>Age: {{age}}</p>
        <p>Height: {{height}}</p>
        <a href="{% url 'edit_profile' %}">edit</a>
    

    </div>
</body>

</html>